.navbar {margin-bottom: 50px;}
nav
{
  font-family: 'Questrial',sans-serif;
}
.navbar-brand
{
  color:#fff;
  font-weight: 500;
  font-size: 20px;
}
.navbar-brand:hover
{
  background-color: rgba(255,255,255,0.3);
  color: #fff ;
  border-radius: 10px;
}
.content{
    width:85%;
    /*align-content: center;*/

}
.hello_world{
color:#F6F7F8;
}
.hello_world:hover{
background-color: rgba(255,255,255,0.3);
  color: #fff ;
  border-radius: 10px;
}
ul.nav a:hover { 
background-color: rgba(255,255,255,0.3);
  color: #fff !important; 
border-radius: 10px;}
#top
{
  background: #3066BE;
  background-position: center;
  color: white;
}

/** BODY **/
.content
{
   /* background-color: #A1E44D;*/
    height:500px;
    border-style: solid;
    border-color: #CFCFD3;
    border-width: thick;
    border-radius: 2%;
    margin-bottom: 50px;
    padding: 0,0;
}
.result-text
{
    color:#fff;
    text-align: center;
    font-family: 'Staatliches', cursive;
    font-size:70px;
    margin-top: 150px;
}
.result-text2
{
    color:#fff;
    text-align: center;
    font-family: 'Staatliches', cursive;
    
}
#img-head{
    border-radius: 50%;
}

/*footer*/

.footer_txt{
    text-align: center;
    padding: 10px;
    padding-bottom: 10px;
    margin-bottom: 0;
    background: #C1BFC0;
    font-family: 'Staatliches', cursive;
	color: #000;
	font-size:15px;

}